* {
  overflow-x: hidden;
}

.navClass {
  background-color:rgba(34, 34, 34, 0.3);
  border-bottom: 2px solid red;
  
}
li a{
  color: white !important;
  font-weight:600 !important;
}

header {
  height: 100%;
  width: 100%;
 background-color:rgba(34, 34, 34, 0.6);
 
}

.aboutTitle{
  color: white;
  padding-top:20px;
  text-align: center;
  font-size: 4em;
}

.aboutHeader{
  margin-top:35px;
  margin-bottom: 35px;
  color: white;
  padding-top:20px;
  text-align: center;

}

.messy, .organized {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px lightblue;
  max-width: 90%;
  height: auto;
}

.howHeader{
  color: white;
  padding-top:60px;
  text-align: center;
}

.steps {
  color: white;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  white-space: normal;
  max-width: 90%;
  margin: 0 auto;
  list-style-position: inside;
  font-size: 1.25rem; 
}

header ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  max-width: 90%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .fntSize {
  	 font-size:90%;
  }
}

@media only screen and (max-width: 700px) {
  .messy, .organized {
    width: 90%;
    height: auto;
  }
  
  .aboutTitle {
    font-size: 2.5em;
  }
  
  .aboutHeader {
    font-size: 1.5em;
  }
  .steps {
    font-size: 1.5rem; 
    line-height: 1.4;
    padding-left: 10px;
    padding-right: 10px;
  }
}