* {
  margin: 0;
  padding: 0;
 
}

.navClass {
  background-color:rgba(34, 34, 34, 0.3);
  border-bottom: 2px solid red;
  color: white;
}

li a{
  color: white !important;
  font-weight:600 !important;
}


.pageBackground{
  background-color:rgba(34, 34, 34, 0.6);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0 4vh;
}

.formCard{
  color:white;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  height: auto;       /* Allow height to adjust to content */
  min-height: 0; 
}

h1{
  color: white;
  text-align: center;
  padding-top: 100px;
}

.pageImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signInHeader{
  margin-top: -80px; 
	margin-bottom: 20px;
} 

.error{
	text-align: center;
	color: white;
	font-size: 1.5em;
	padding-top:20px;
}

@media screen and (max-height: 667px) {
  .pageImg {
    height: 15vh;
    min-height: 80px;
    max-height: 100px;
    max-width: 100px;
    min-width: 80px;
  }
  
  .formCard {
    padding: 0.8rem;
  }
  
  .mb-3 {
    margin-bottom: 0.5rem !important;
  }
}